


body {
  background: url("https://images.unsplash.com/photo-1463171379579-3fdfb86d6285?auto=format&fit=crop&w=1500&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D");
  opacity: 0.5;

}

h1 {
  font-family: 'Palatino', sans-serif;
  font-size: 50px;
  text-transform: uppercase;
}

h4 {
  color: #b5b5b5;
}

.page-header {
  text-align: center;
}


.queen-of-computers {
  width: 300px;
  margin: 50px auto;
  border-radius: 50%;
  display: block;
}

.content {
  margin-bottom: 50px;
}

.code-container {
  display: flex;
  justify-content: space-around;
  text-align: left;
}

.code-container img{
  padding: 20px;
  max-width: 300px;
  max-height: 200px;
}

.contact-container {
  text-align: center;
}

.contact-container .content {
  margin-top: 50px
}

.contact-icon {
  font-size: 45px;
  margin: 0 5px;
}

.contact-icon-link:hover {
  text-decoration: none
}

.contact-icon.fa-linkedin-square {
  color: #007bb6;
}

.contact-icon.fa-github-square {
  color: #353535;
}

.contact-icon.fa-facebook-square {
  color: #3b5998;
}
