<html lang="en">
<head>
  <% include ../partials/head %>
   <% include ../partials/navbar %>
</head>
<body class="container">

  <header>
    <% include ../partials/navbar %>
  </header>

  <main>
    <div class="page-header">
      <h1>Look at me!</h1>
      <h4 class="subheader">Don't talk to me, I'm busy writing my code.</h4>
    </div>
    <div class="content">
      <img class="queen-of-computers" src="/images/tdawg.jpg" />
      <p>My name is Aideen and I'm currently a Second year Computer Science student in University College Dublin. My Objective this year is to secure a suitable internship which allows me to develop my knowledge and experience within the area of Computer Science; whilst positively contributing to the success of the organisation by carrying out the tasks assigned to me.
</p>
      <p>This website comes from attending the WebSpot "Web App Development For Women" workshop which thought me how to create and design a personal web app using languages such as HTML and CSS. I love finding out more about the world of computers so you'll often find me at tech workshops such as the one above. I also took part in the Dell EMC STEM Aspire program for women which allowed me to connect and shadow a female employee of Dell. Louise was a DFS Project Consultant and shared with me her carrier experiance and her experiance on working in a male dominated environment.
    </div>
  </main>
</body>
</html>

