<html lang="en">
<head>
    <% include ../partials/head %>
     <% include ../partials/navbar %>
</head>
<body class="container">

  <header>
    <% include ../partials/navbar %>
  </header>

  <main>
    <div class="jumbotron">
      <h1>Aideen Burgess</h1>
      <p>Welcome to my personal website.</p>
      <p><a class="btn btn-primary btn-lg" href="https://github.com/zsobin/PersonalWebApp" target="_blank" role="button">See the repo</a></p>
    </div>
    <div class="tina-gif">
      <iframe src="https://giphy.com/gifs/nYZRlzU2W14Wc" width="480" height="250" frameBorder="0"  allowFullScreen></iframe>
      <p>
        <a href="https://giphy.com/gifs/nYZRlzU2W14Wc">
          via GIPHY
        </a>
      </p>
    </div>
  </main>

</body>
</html>